- @title = vm.gathering.name

= render :partial => "gathering", :collection => [vm.gathering], :locals => {:show_link => false}

.options{ style: 'margin-top: 16px;' }
  = link_to( "Back to gathering list", gatherings_path, class: 'btn' )
