= form_for( vm.event, :html => { class: 'form-horizontal' } ) do |f|

  %fieldset
    %legend
      = vm.event.name

    = render 'form', f: f, action: "edit"

    .form-actions
      %button{ class: 'btn btn-primary', type: 'submit' }
        Save changes
      %button{ class: 'btn', type: 'button', onclick: 'history.go(-1)' }
        Cancel
