= form_for( vm.event, :html => { class: 'form-horizontal'} ) do |f|

  %fieldset
    %legend
      New Event

    = render 'form', f: f, action: "new"

    .form-actions
      %button{ class: 'btn btn-primary', type: 'submit' }
        Create
      %button{ class: 'btn', type: 'button', onclick: 'history.go(-1)' }
        Cancel
